$text-color: #333
$topic-color: rgb(19,168,161)
$input-bg-color: rgba(0,0,0, 0.1)
$input-width: 460px

.button
  width: 130px
  height: 40px
  border-radius: 5px
  border: solid 1px rgba(0,0,0,0.1)
  font-size: 16px
  cursor: pointer

.body
  font-size: 14px
  color: $text-color

input, textarea
  padding: 8px 10px
  border-radius: 3px
  border: 1px solid $input-bg-color
  background-color: $input-bg-color
  font-size: 14px
  line-height: 140%
  color: #343
  &:focus
    background-color: #FAFAFA
