{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["jest"],
  "globals": {
    "setTimeout": true,
    "chrome": true,
    "global": true
  },
  "rules": {
    "no-console": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
