{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "setTimeout": true,
    "chrome": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
