!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="/main.css")
  %body
    .row
      %img.team__icon
      .team__name
        tsuibami
      .option__link
        %a.esa__link(href="options.html" target="_blank") open Options
    .row
      %input.post__title(type="input" autofocus)
    .row
      %textarea.post__body
    .row.menu
      .menu__post
        %input#post-with-clear.esa__post_with-clear(type="checkbox")
        %label(for="post-with-clear") Clear title/body after saving
        %button.esa__post_button(type="button") Save as WIP
      .menu__link
        %a.esa__link(href="#" target="_blank") open previous saved post
    .row
      .message
        .message__body
  %script(src="/lib/bluebird.min.js")
  %script(src="/lib/jquery-2.1.4.min.js")
  %script(src="/lib/jquery.selection.js")
  %script(src="/lib/jquery.esarea.js")
  %script(src="/lib/lodash.js")
  %script(src="/index.js")
