!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="/main.css")
  %body
    %h1 tsuibami settings
    %img.team-icon
    %label(for="options__team-name") チーム名
    %input.options__team-name
    %label(for="options__token") トークン
    %input.options__token
    %button.options__save(type="button") save
    .options__message
  %script(src="/lib/bluebird.min.js")
  %script(src="/lib/jquery-2.1.4.min.js")
  %script(src="/lib/lodash.js")
  %script(src="/options.js")
