!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="/options.css")
  %body
    %h1 tsuibami settings
    .row
      %input.options__team-name(placeholder="チーム名" title="チーム名")
    .row
      %input.options__token(placeholder="トークン" title="トークン")
    .row
      %button.options__save(type="button") Save Options
    .row
      .message
        .options__message
  %script(src="/lib/bluebird.min.js")
  %script(src="/lib/jquery-2.1.4.min.js")
  %script(src="/lib/lodash.js")
  %script(src="/options.js")
